* {
    box-sizing: border-box;
    background-color: rgb(240, 240, 240);

    /* background-color: black; */
  }
  
.layout {
    text-align: center;
    margin: 4rem;
    font-size: 20pt;

    justify-content: center;
}


  
