.popup-text {
    font-size: 20pt;
    /* margin-bottom: 2rem; */
    padding-bottom: 2rem;
}

.riddles {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}


.riddle1 {
    position: absolute;
    left: 20px;
}

.riddle2 {
    align-items: center;
    align-content: center;
    align-self: center;
}

.riddle3 {
    align-items: flex-end;
    align-content: flex-end;
    align-self: flex-end;
}