.popup-text {
    font-size: 20pt;
    /* margin-bottom: 2rem; */
    padding-bottom: 2rem;
}

.riddles {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.riddles {
    animation-duration: 1s;
    animation-name: slideInLeft;
  }
  
@keyframes slideInLeft {
    /* from {
        margin-right: 100%;
        transform: skew(-20deg, -10deg);
    }

    to {
        margin-right: 0%;
    } */

    0%   { transform: skew(-20deg, -10deg); margin-right: 100%; }
    100% { margin-right: 0%; }
}

.riddle1 {
    position: absolute;
    left: 20px;
}

.riddle2 {
    align-items: center;
    align-content: center;
    align-self: center;
}

.riddle3 {
    align-items: flex-end;
    align-content: flex-end;
    align-self: flex-end;
}