.BackButton {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 10px 20px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.BackButton:hover {background-color: #3e8e41}

.BackButton:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.BackButtonTop {
  top: 170px;
  left: 40px;

  right: auto;
  bottom: auto;
}

