
  
.next {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.back {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.card {
  border: 0pt!important;
}


@keyframes slideInRight {
  0% {
    transform: translateX(100%) skew(20deg, 10deg);
  }

  100% {
    transform: translateX(0%) skew(0deg, 0deg);
  }
}



  /* I wanna pass in props here and change the animation depending on the 
  button its called from
  */
