.riddle-container {
    height: auto;
    padding: 20px;
}

.riddle {
    padding: 15px;
    border-radius: 20px;
}

.riddle1 {
    align-items: flex-end;
    align-content: flex-end;
    justify-content: flex-end;
}

.riddle:hover {
    border: 1pt solid black;
}